/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import java.io.IOException;
import java.util.AbstractMap.SimpleEntry;
import java.util.HashMap;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.AuthManager;
import tech.fortis.sandbox.api.Configuration;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.Headers;
import tech.fortis.sandbox.api.http.client.HttpCallback;
import tech.fortis.sandbox.api.http.client.HttpClient;
import tech.fortis.sandbox.api.http.client.HttpContext;
import tech.fortis.sandbox.api.http.request.HttpRequest;
import tech.fortis.sandbox.api.http.response.HttpResponse;
import tech.fortis.sandbox.api.http.response.HttpStringResponse;
import tech.fortis.sandbox.api.models.Filter9;
import tech.fortis.sandbox.api.models.Page;
import tech.fortis.sandbox.api.models.ResponseTerminal;
import tech.fortis.sandbox.api.models.ResponseTerminalsCollection;
import tech.fortis.sandbox.api.models.Sort9;
import tech.fortis.sandbox.api.models.V1TerminalsRequest;
import tech.fortis.sandbox.api.models.V1TerminalsRequest1;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TerminalsController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public TerminalsController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }

    /**
     * Initializes the controller with HTTPCallback.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     * @param httpCallback    Callback to be called before and after the HTTP call.
     */
    public TerminalsController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers, HttpCallback httpCallback) {
        super(config, httpClient, authManagers, httpCallback);
    }

    /**
     * Create a new terminal device.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTerminal response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTerminal createANewTerminalDevice(
            final V1TerminalsRequest body) throws ApiException, IOException {
        HttpRequest request = buildCreateANewTerminalDeviceRequest(body);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleCreateANewTerminalDeviceResponse(context);
    }

    /**
     * Create a new terminal device.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTerminal response from the API call
     */
    public CompletableFuture<ResponseTerminal> createANewTerminalDeviceAsync(
            final V1TerminalsRequest body) {
        return makeHttpCallAsync(() -> buildCreateANewTerminalDeviceRequest(body),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleCreateANewTerminalDeviceResponse(context));
    }

    /**
     * Builds the HttpRequest object for createANewTerminalDevice.
     */
    private HttpRequest buildCreateANewTerminalDeviceRequest(
            final V1TerminalsRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/terminals");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for createANewTerminalDevice.
     * @return An object of type ResponseTerminal
     */
    private ResponseTerminal handleCreateANewTerminalDeviceResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        if (responseCode == 412) {
            throw new Response412Exception("Precondition Failed", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTerminal result = ApiHelper.deserialize(responseBody,
                ResponseTerminal.class);

        return result;
    }

    /**
     * List all terminals related.
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&page[size]=50
     * @param  sort  Optional parameter: You can use any `field_name` from this endpoint results,
     *         and you can combine more than one field for more complex sorting. You can use one of
     *         the following methods: &gt;/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *         &gt; &gt;/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     * @param  filter  Optional parameter: You can use any `field_name` from this endpoint results
     *         as a filter, and you can also use more than one field to create AND conditions. You
     *         can use one of the following methods: &gt;/endpoint?filter={ "field_name": "Value" } &gt;
     *         &gt;/endpoint?filter[field_name]=Value
     * @return    Returns the ResponseTerminalsCollection response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTerminalsCollection listAllTerminalsRelated(
            final Page page,
            final Sort9 sort,
            final Filter9 filter) throws ApiException, IOException {
        HttpRequest request = buildListAllTerminalsRelatedRequest(page, sort, filter);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleListAllTerminalsRelatedResponse(context);
    }

    /**
     * List all terminals related.
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&page[size]=50
     * @param  sort  Optional parameter: You can use any `field_name` from this endpoint results,
     *         and you can combine more than one field for more complex sorting. You can use one of
     *         the following methods: &gt;/endpoint?sort={ "field_name": "asc", "field_name2": "desc" }
     *         &gt; &gt;/endpoint?sort[field_name]=asc&sort[field_name2]=desc
     * @param  filter  Optional parameter: You can use any `field_name` from this endpoint results
     *         as a filter, and you can also use more than one field to create AND conditions. You
     *         can use one of the following methods: &gt;/endpoint?filter={ "field_name": "Value" } &gt;
     *         &gt;/endpoint?filter[field_name]=Value
     * @return    Returns the ResponseTerminalsCollection response from the API call
     */
    public CompletableFuture<ResponseTerminalsCollection> listAllTerminalsRelatedAsync(
            final Page page,
            final Sort9 sort,
            final Filter9 filter) {
        return makeHttpCallAsync(() -> buildListAllTerminalsRelatedRequest(page, sort, filter),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleListAllTerminalsRelatedResponse(context));
    }

    /**
     * Builds the HttpRequest object for listAllTerminalsRelated.
     */
    private HttpRequest buildListAllTerminalsRelatedRequest(
            final Page page,
            final Sort9 sort,
            final Filter9 filter) {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/terminals");

        //load all query parameters
        Map<String, Object> queryParameters = new HashMap<>();
        queryParameters.put("page", page);
        queryParameters.put("sort", sort);
        queryParameters.put("filter", filter);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, queryParameters,
                null);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for listAllTerminalsRelated.
     * @return An object of type ResponseTerminalsCollection
     */
    private ResponseTerminalsCollection handleListAllTerminalsRelatedResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTerminalsCollection result = ApiHelper.deserialize(responseBody,
                ResponseTerminalsCollection.class);

        return result;
    }

    /**
     * View single terminals record.
     * @param  terminalId  Required parameter: Terminal ID
     * @return    Returns the ResponseTerminal response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTerminal viewSingleTerminalsRecord(
            final String terminalId) throws ApiException, IOException {
        HttpRequest request = buildViewSingleTerminalsRecordRequest(terminalId);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleViewSingleTerminalsRecordResponse(context);
    }

    /**
     * View single terminals record.
     * @param  terminalId  Required parameter: Terminal ID
     * @return    Returns the ResponseTerminal response from the API call
     */
    public CompletableFuture<ResponseTerminal> viewSingleTerminalsRecordAsync(
            final String terminalId) {
        return makeHttpCallAsync(() -> buildViewSingleTerminalsRecordRequest(terminalId),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleViewSingleTerminalsRecordResponse(context));
    }

    /**
     * Builds the HttpRequest object for viewSingleTerminalsRecord.
     */
    private HttpRequest buildViewSingleTerminalsRecordRequest(
            final String terminalId) {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/terminals/{terminal_id}");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("terminal_id",
                new SimpleEntry<Object, Boolean>(terminalId, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, null, null);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for viewSingleTerminalsRecord.
     * @return An object of type ResponseTerminal
     */
    private ResponseTerminal handleViewSingleTerminalsRecordResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTerminal result = ApiHelper.deserialize(responseBody,
                ResponseTerminal.class);

        return result;
    }

    /**
     * Update terminal record.
     * @param  terminalId  Required parameter: Terminal ID
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTerminal response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTerminal updateTerminalRecord(
            final String terminalId,
            final V1TerminalsRequest1 body) throws ApiException, IOException {
        HttpRequest request = buildUpdateTerminalRecordRequest(terminalId, body);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleUpdateTerminalRecordResponse(context);
    }

    /**
     * Update terminal record.
     * @param  terminalId  Required parameter: Terminal ID
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTerminal response from the API call
     */
    public CompletableFuture<ResponseTerminal> updateTerminalRecordAsync(
            final String terminalId,
            final V1TerminalsRequest1 body) {
        return makeHttpCallAsync(() -> buildUpdateTerminalRecordRequest(terminalId, body),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleUpdateTerminalRecordResponse(context));
    }

    /**
     * Builds the HttpRequest object for updateTerminalRecord.
     */
    private HttpRequest buildUpdateTerminalRecordRequest(
            final String terminalId,
            final V1TerminalsRequest1 body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/terminals/{terminal_id}");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("terminal_id",
                new SimpleEntry<Object, Boolean>(terminalId, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().patchBody(queryBuilder, headers, null,
                bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for updateTerminalRecord.
     * @return An object of type ResponseTerminal
     */
    private ResponseTerminal handleUpdateTerminalRecordResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        if (responseCode == 412) {
            throw new Response412Exception("Precondition Failed", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTerminal result = ApiHelper.deserialize(responseBody,
                ResponseTerminal.class);

        return result;
    }

}