/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import java.io.IOException;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.AuthManager;
import tech.fortis.sandbox.api.Configuration;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.Headers;
import tech.fortis.sandbox.api.http.client.HttpCallback;
import tech.fortis.sandbox.api.http.client.HttpClient;
import tech.fortis.sandbox.api.http.client.HttpContext;
import tech.fortis.sandbox.api.http.request.HttpRequest;
import tech.fortis.sandbox.api.http.response.HttpResponse;
import tech.fortis.sandbox.api.http.response.HttpStringResponse;
import tech.fortis.sandbox.api.models.ResponseTransaction;
import tech.fortis.sandbox.api.models.V1TransactionsAchCreditKeyedRequest;
import tech.fortis.sandbox.api.models.V1TransactionsAchCreditTokenRequest;
import tech.fortis.sandbox.api.models.V1TransactionsAchDebitKeyedRequest;
import tech.fortis.sandbox.api.models.V1TransactionsAchDebitTokenRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TransactionsACHController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public TransactionsACHController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }

    /**
     * Initializes the controller with HTTPCallback.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     * @param httpCallback    Callback to be called before and after the HTTP call.
     */
    public TransactionsACHController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers, HttpCallback httpCallback) {
        super(config, httpClient, authManagers, httpCallback);
    }

    /**
     * Create a new keyed ACH credit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransaction aCHCredit(
            final V1TransactionsAchCreditKeyedRequest body) throws ApiException, IOException {
        HttpRequest request = buildACHCreditRequest(body);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleACHCreditResponse(context);
    }

    /**
     * Create a new keyed ACH credit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     */
    public CompletableFuture<ResponseTransaction> aCHCreditAsync(
            final V1TransactionsAchCreditKeyedRequest body) {
        return makeHttpCallAsync(() -> buildACHCreditRequest(body),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleACHCreditResponse(context));
    }

    /**
     * Builds the HttpRequest object for aCHCredit.
     */
    private HttpRequest buildACHCreditRequest(
            final V1TransactionsAchCreditKeyedRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/transactions/ach/credit/keyed");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for aCHCredit.
     * @return An object of type ResponseTransaction
     */
    private ResponseTransaction handleACHCreditResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        if (responseCode == 412) {
            throw new Response412Exception("Precondition Failed", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTransaction result = ApiHelper.deserialize(responseBody,
                ResponseTransaction.class);

        return result;
    }

    /**
     * Create a new tokenized ACH credit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransaction aCHCreditTokenized(
            final V1TransactionsAchCreditTokenRequest body) throws ApiException, IOException {
        HttpRequest request = buildACHCreditTokenizedRequest(body);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleACHCreditTokenizedResponse(context);
    }

    /**
     * Create a new tokenized ACH credit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     */
    public CompletableFuture<ResponseTransaction> aCHCreditTokenizedAsync(
            final V1TransactionsAchCreditTokenRequest body) {
        return makeHttpCallAsync(() -> buildACHCreditTokenizedRequest(body),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleACHCreditTokenizedResponse(context));
    }

    /**
     * Builds the HttpRequest object for aCHCreditTokenized.
     */
    private HttpRequest buildACHCreditTokenizedRequest(
            final V1TransactionsAchCreditTokenRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/transactions/ach/credit/token");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for aCHCreditTokenized.
     * @return An object of type ResponseTransaction
     */
    private ResponseTransaction handleACHCreditTokenizedResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        if (responseCode == 412) {
            throw new Response412Exception("Precondition Failed", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTransaction result = ApiHelper.deserialize(responseBody,
                ResponseTransaction.class);

        return result;
    }

    /**
     * Create a new keyed ACH debit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransaction aCHDebit(
            final V1TransactionsAchDebitKeyedRequest body) throws ApiException, IOException {
        HttpRequest request = buildACHDebitRequest(body);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleACHDebitResponse(context);
    }

    /**
     * Create a new keyed ACH debit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     */
    public CompletableFuture<ResponseTransaction> aCHDebitAsync(
            final V1TransactionsAchDebitKeyedRequest body) {
        return makeHttpCallAsync(() -> buildACHDebitRequest(body),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleACHDebitResponse(context));
    }

    /**
     * Builds the HttpRequest object for aCHDebit.
     */
    private HttpRequest buildACHDebitRequest(
            final V1TransactionsAchDebitKeyedRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/transactions/ach/debit/keyed");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for aCHDebit.
     * @return An object of type ResponseTransaction
     */
    private ResponseTransaction handleACHDebitResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        if (responseCode == 412) {
            throw new Response412Exception("Precondition Failed", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTransaction result = ApiHelper.deserialize(responseBody,
                ResponseTransaction.class);

        return result;
    }

    /**
     * Create a new tokenized ACH debit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransaction aCHDebitTokenized(
            final V1TransactionsAchDebitTokenRequest body) throws ApiException, IOException {
        HttpRequest request = buildACHDebitTokenizedRequest(body);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleACHDebitTokenizedResponse(context);
    }

    /**
     * Create a new tokenized ACH debit transaction.
     * @param  body  Required parameter: Example:
     * @return    Returns the ResponseTransaction response from the API call
     */
    public CompletableFuture<ResponseTransaction> aCHDebitTokenizedAsync(
            final V1TransactionsAchDebitTokenRequest body) {
        return makeHttpCallAsync(() -> buildACHDebitTokenizedRequest(body),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleACHDebitTokenizedResponse(context));
    }

    /**
     * Builds the HttpRequest object for aCHDebitTokenized.
     */
    private HttpRequest buildACHDebitTokenizedRequest(
            final V1TransactionsAchDebitTokenRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v1/transactions/ach/debit/token");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for aCHDebitTokenized.
     * @return An object of type ResponseTransaction
     */
    private ResponseTransaction handleACHDebitTokenizedResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //Error handling using HTTP status codes
        int responseCode = response.getStatusCode();

        if (responseCode == 401) {
            throw new Response401tokenException("Unauthorized", context);
        }
        if (responseCode == 412) {
            throw new Response412Exception("Precondition Failed", context);
        }
        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        ResponseTransaction result = ApiHelper.deserialize(responseBody,
                ResponseTransaction.class);

        return result;
    }

}