<?php

declare(strict_types=1);

/*
 * MdNotesACGLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace MdNotesACGLib\Controllers;

use MdNotesACGLib\Exceptions\ApiException;
use MdNotesACGLib\ApiHelper;
use MdNotesACGLib\ConfigurationInterface;
use MdNotesACGLib\Http\HttpRequest;
use MdNotesACGLib\Http\HttpResponse;
use MdNotesACGLib\Http\HttpMethod;
use MdNotesACGLib\Http\HttpContext;
use MdNotesACGLib\Http\HttpCallBack;
use Unirest\Request;

class UserController extends BaseController
{
    public function __construct(ConfigurationInterface $config, array $authManagers, ?HttpCallBack $httpCallBack)
    {
        parent::__construct($config, $authManagers, $httpCallBack);
    }

    /**
     * @return \MdNotesACGLib\Models\User Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getUser(): \MdNotesACGLib\Models\User
    {
        //prepare query string for API call
        $_queryBuilder = '/api/user';

        //validate and preprocess url
        $_queryUrl = ApiHelper::cleanUrl($this->config->getBaseUri() . $_queryBuilder);

        //prepare headers
        $_headers = [
            'user-agent'    => BaseController::USER_AGENT,
            'Accept'        => 'application/json'
        ];

        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);

        // Apply authorization to request
        $this->getAuthManager('global')->apply($_httpRequest);

        //call on-before Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        // Set request timeout
        Request::timeout($this->config->getTimeout());

        // and invoke the API call request to fetch the response
        try {
            $response = Request::get($_httpRequest->getQueryUrl(), $_httpRequest->getHeaders());
        } catch (\Unirest\Exception $ex) {
            throw new ApiException($ex->getMessage(), $_httpRequest);
        }


        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpRequest);
        $mapper = $this->getJsonMapper();
        return $mapper->mapClass($response->body, 'MdNotesACGLib\\Models\\User');
    }
}
